body{
    
}

li{
    list-style: none;
}

nav{
    display: flex;
    justify-content: center;
    background-color: yellow ;
}

.nav-container{
    display: flex;
    align-items: center;

    
    
}

img {
    width: 300px;
    height: 200px;
}

button{
    border-radius: 20%;
    
}



